@function remy($pxsize) {

  @return calc(($pxsize/16))+rem;
}
* {
	  box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  html {
	 scroll-behavior: smooth;
  }

  html,
  body {
	margin: 0;
	padding: 0;
	width: 100%;

	-webkit-font-smoothing: antialiased;
  height: 100vh;
 
  font-size: remy(16);
  font-family: 'Roboto-Regular', sans-serif;
  display: flex;
  flex-direction: column;
  &>*{width: 100%;}
  @media (max-width: 767px) {
    height: auto;
  }

  }
  .h1{
    text-transform: uppercase;
    font-size: remy(40);
    font-family: 'Roboto-Bold';
    color: #6c8367;
    color: #af9740;
    @media (max-width: 767px) {
      font-size: remy(24);
    }
    
  }
  .txt-accent{color:#000!important; }
  .text-link{
   
    position: relative;
    width: fit-content;
    &:after{
      content: '';
      display: block;
      height: 2px;
      width: 0;
      position: absolute;
      left: 0;
      background-color: #777;
      transition: .3s; 
    }
    &:hover{color:#777; }
    &:hover:after{
      width: 100%;
    }
  }
  .lock {
	overflow: hidden;
	touch-action: none;
	-ms-touch-action: none;
	height: 100vh;
  }
  
  a{color: inherit; display: inline-block;}
  a,
  a:hover {
	text-decoration: none;
  }
  
  ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
	padding: 0;
	margin: 0;
  }
 
  img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
  object-fit: cover;
  }
  
  input,
  button, button:focus, input:focus {
	outline: none;
  }
  
  button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
  }

.container{
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  
  @media(max-width:1799px){
    padding-left: 80px;
    padding-right: 80px;
  }
  @media (max-width: 767px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
