include ../mixins/mixins.pug
block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		
		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="css/main.css")
		style.
			
			@font-face{
				font-family: 'Roboto-Regular';
				src: url(./fonts/Roboto-Regular.woff2) format("woff2");
				font-weight: 400;
				font-style: normal;
				font-display: swap;
			}
			@font-face{
				font-family: 'Roboto-Bold';
				src: url(./fonts/Roboto-Bold.woff2) format("woff2");
				font-weight: bold;
				font-style: normal;
				font-display: swap;
			}
			@font-face{
				font-family: 'Paint-Peel-Cyr';
				src: url(./fonts/Paint-Peel-Cyr.woff2) format("woff2");
				
				font-style: normal;
				font-display: swap;
			}
		
		title !{title}
		
	body
		
		block content
		
		
		//=============== мои скрипты ===================	
		//- script(src="js/main.js")